html{
    background: #e3e3e3;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 50px;

}

head{

}

p{

}

h1 {

}

h2{

}

table{

}
.blog-post {

}

article{

}

ul{

}